html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.button_container {
    display: none;
    position: absolute;
    margin-top: 450px\0/;
    margin-left: 850px\0/;
    top: 85vh;
    left: 85vw;
}

.btn {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    background: #000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-style:none;
}

.btn:hover {
    background: #8A8A8A;
    text-decoration: none;
}
